# Windows system junk files
desktop.ini
Thumbs.db
ehthumbs.db

# macOS system junk files
.DS_Store

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# VS Code / IDE settings
.vscode/
.idea/

# Large log files
*.log